 
 <nav>
    <ul class="nav-bar">
         <li><a href="./get">GET</a></li>
    </ul>
    <ul class="nav-bar">
       <label for="">Catégories</label>
         <select name="category" id="exampleFormControlSelect1">
            {{#each category}}
            <option value="{{this.id}}">{{this.title}}</option>
            {{/each}}
        </select>
    </ul>
</nav>

 
 
 <div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="title">
                <h1>Article</h1>
                <button class="new"><a href="./post"><h6>Poster un nouvel article</h6></a></button>
            
            </div>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {{#each product}}
                        <li class="list-group-item">

                            <div><img src="{{this.cover.path}}" alt="" style="max-width: 120px;"></div>
                            
                            <div class="objet">
                                <h3>titre:   {{this.title}}</h3>
                                <p>Catégorie:   {{this.category.title}}</p>
                                <p>Commentaire:   {{this.content}}</p>
                            </div>

                            <button><a href="{{this.id}}">modifier</a></button>
                            <form action="{{this.id}}/?_method=DELETE" method="POST">
                                <button class="delete" type="submit"><a href="" ><i class="fas fa-trash-alt"></i></a></button>
                            </form>
                            
                        </li>
                        {{/each}}
                    </ul>  
                </div>               
            </div>
            <form action="/get?_method=DELETE" method="POST">
                 <button class="all-delete" type="submit"><i class="fas fa-times-circle"></i></button>
            </form>

           

        </div>
        <div class="col-md-4">
            <div class="card-2">
                <h1>Ajout des catégories</h1>
            
                <div class="card-body-2">

                    <form method="POST" action="/category" >
                        <div class="form-group">
                            <label>catégorie</label>
                            <input class="form-control" type="text" name="title" >
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>

                </div>
            </div>
        </div>
</div>